@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

body {
    background: #080808;
    color: #efefef;
    font-family: 'Poppins', sans-serif;
}

.apresentacao {
    width: 90vw;
    margin: 60px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.apresentacao__esquerda {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.apresentacao__imagem-esquerda {
    width: 70%;
}

.apresentacao__direita {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.apresentacao__titulo-direita {
    font-size: 3rem;
    font-weight: 600;
}

.apresentacao__titulo-direita span {
    color: #50000D;
}

.apresentacao__texto-direita {
    margin-top: 1rem;
    margin: 1rem 25% 0 0;
    font-size: 1.2rem;
}

.certificados {
    padding: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10em;
}



.swiper {
    width: 400px;
    height: 450px;
    margin: 0;
  }

.swiper-slide {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    background-color: #130003;
    border-radius: 1em;
    border: 0.2px solid #efefef;
    
    padding: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.curso {
    margin-top: 1.5em;
    color: #efefef;
    font-size: 2.5em;
    font-weight: 600;

    transition: 1s;
}

.curso:hover{
    transform: scale(1.1);
}

.slide-img {
    margin-bottom: 2em;
}

.titulo-secundario {
    text-align: center;   
    margin: 70px 0;
    font-weight: 500;
    font-size: 3em;
}

.titulo__texto {
    font-size: 4em;
}

.cartoes__lista {
    padding: 0 14%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    row-gap: 40px;
}

.cartao {
    width: 380px;
    height: 490px;
    background-color: #13000380;
    border-radius: 20px;
    overflow: hidden;
    border: 1.5px solid #efefef;

    transition: 3s ease;
}

.cartao:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rbga(0,0,0,0.6);
    background-color: #130003;
}

.cartao__container-imagem {
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin-top: 10px;
}

.cartao__imagem {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.cartao__container-textos {
    height: 150px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.cartao__titulo {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600
}

.cartao__texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}

.cartao__container-botao {
    margin-top: 10px;
    text-align: center;
    background-color: black;

    transition: 0.8s ease;
}

.cartao__botao {
    color: #efefef;
    display: block;
    padding: 18px;
    padding-bottom: 38px;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
}

.cartao__container-botao:hover {
    margin-top: -10px;
    font-size: 22px;
}

.rodape {
    padding: 4em 0 2em;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .apresentacao {
        width: 100vw;
        margin: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: content-box ;
    }
    
    .apresentacao__esquerda {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }
    
    .apresentacao__imagem-esquerda {
        width: 70%;
    }

    .apresentacao__direita {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .apresentacao__titulo-direita {
        margin: 0 .8em .5em;
        font-size: 3em;
        font-weight: 600;
    }
    
    .apresentacao__titulo-direita span {
        color: #50000D;
    }
    
    .apresentacao__texto-direita {
        margin: 1em 1em 0;
        font-size: 1.2rem;
    }



    .certificados {
        padding: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 0px;
    }
    
    .swiper {
        width: 70%;
        height: 450px;
        margin: 0;
      }
    
    .titulo-secundario {
        text-align: center;   
        margin: 1em 0 .5em;
        font-weight: 500;
        font-size: 3em;
    }
    
    .titulo__texto {
        font-size: 3em;
    }
}
