.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 1em 1.5em ;
}

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
}